{% extends 'base.html.twig' %}

{% block title %}Shelf{% endblock %}

{% block body %}
    <div id="top"></div>
    {{ include('logout/logout.html.twig') }}<!-- Logout --> 
     <div class="flex flex-col justify-center  lg:flex-row mt-5 border-4 border-violet-950  p-2 m-5  shadow-2xl shadow-violet-900 rounded-xl"><!-- container --> 
        <aside class="flex-2 px-20">    <!-- Aside --> 
            {{ include('_sidebar.html.twig') }}   
        </aside>
        <main class="flex flex-col justify-center content-center mt-5 px-5 mx-auto max-w-full">   <!-- Main -->          
            <div><!-- GoBack -->
                <div class=" my-4 pr-8 text-lg font-bold">
                   <a class=" hover:bg-gray-200 rounded-xl pr-2 text-black" href="{{path('app_view')}}">
                       <svg class="inline text-black" xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                       Back
                   </a>
                </div>
            </div>
            <div class="text-center mb-10"><!-- title -->
                <h2 class="text-3xl font-bold uppercase">Shelf nº {{ shelfId }}</h2>
            </div>                     
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5"><!-- grid -->
                    {% for basket in baskets %}
                        <div class="max-w-64 min-w-32 flex flex-col justify-center item-center text-center rounded-lg overflow-hidden shadow-black-400 shadow-2xl">
                            <div class="">
                                <a href="{{ path('app_view_basket', {'id': basket.id }) }}">
                                    <img src="{{ asset('img/bandeja.webp') }}" alt="Shelf {{ basket.id }}" class="w-full h-auto rounded-lg ">
                                </a>
                               {% set countBasket = countBasket|default(0) + 1 %}                                
                            </div>     
                            <div class="flex flex-col items-center justify-center">
                                <h2 class="text-lg font-bold uppercase text-center m-4">basket nº {{ countBasket }}   </h2>
                                <table class="table">
                                    <tbody >
                                        <tr>
                                            <th class="first-letter:uppercase">Basket Id:</th>
                                            <td>{{ basket.id }}</td>
                                        </tr>
                                        <tr>
                                            <th class="first-letter:uppercase">number of product:</th>
                                            <td>{{ basket.numProduct }}</td>
                                         </tr>
                                        <tr>
                                            <th class="first-letter:uppercase">total weight:</th>
                                            <td>{{ basket.totalWeight }}</td>
                                        </tr>
                                        {% for item1 in basketsIncidence %}                                                    
                                            {% if item1 == basket %}
                                        <tr class="bg-red-500">                                            
                                            <td colspan="2">ALERT</td>
                                        </tr>                                        
                                            {% endif %} 
                                        {% endfor %}                                         
                                     </tbody>
                                 </table>
                            </div>
                        </div>
                    {% endfor %}
               
            </div><!-- end grid -->
            <div class="w-96 mx-auto">{{ include('components/backToTop.html.twig') }}</div> <!-- Back to top -->
        </main>  
        
    </div> <!-- end container -->
      
{% endblock %}
